package pages

import "github.com/farisamirmudin/gowatch/view/layout"
import "github.com/farisamirmudin/gowatch/view/components"

templ Index() {
  @layout.Base() {
    <h1 class="display-1">Go Watch</h1>
    <div class="gap-4 d-flex flex-column">
      @components.Input()
      <div id="results"></div>
      <div id="player"></div>
      <video id="video" autoplay></video>
    </div>
    @components.HlsSetup()
  }
}
